<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>はじめてのVue.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
      <div id="app">
        <ul>
          <li v-for="item in items" v-bind:key="item.name">
            {{ item.name }}の個数： <input type="number" v-model="item.quantity" v-bind:value="item.quantity" min="0">
          </li>
        </ul>
        <hr>
        <div v-bind:style="errorMessageStyle">
          <ul>
            <li v-for="item in items" v-bind:key="item.name">
              {{ item.name }}: {{ item.price }} × {{ item.quantity }} = {{ item.price * item.quantity | numberWithDelimiter }}円
            </li>
          </ul>
          <p>{{ items[0].name }}: {{ items[0].price }} × {{ items[0].quantity }}</p>
          <p>小計： {{ totalPrice | numberWithDelimiter }}円</p>
          <p>合計（税込）： {{ totalPriceWithTax | numberWithDelimiter }}円</p>
          <p v-show="!canBuy">
            {{ 1000 | numberWithDelimiter }}円以上からご購入可能です。
          </p>
          <!-- ボタンが押されたらメソッドを呼び出す -->
          <button v-bind:disabled="!canBuy" v-on:click="doBuy">購入</button>
        </div>
      </div>
  </body>
    <script>
      //ロードされ、Vueがグローバル変数として定義されているか確認する
      // console.assert(typeof Vue !== 'undefined');
      var items = [
        {
          name: '鉛筆',
          price: 300,
          quantity: 0
        },
        {
          name: 'ノート',
          price: 400,
          quantity: 0
        },
        {
          name: '消しゴム',
          price: 500,
          quantity: 0
        }
      ]

var vm = new Vue({
  el: '#app',
  data: {
    items: items
  },
  filters: {
    numberWithDelimiter: function (value) {
      if (!value) {
        return '0'
      }
      return value.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')
    }
  },
  computed: { // 算出プロパティ
    totalPrice: function () {
      return this.items.reduce(function (sum, item) {
        return sum + (item.price * item.quantity)
      }, 0)
    },
    totalPriceWithTax: function () {
      // 算出プロパティに依存した算出プロパティも定義できる
      return Math.floor(this.totalPrice * 1.08)
    },
    canBuy: function () {
      return this.totalPrice >= 1000
    },
    errorMessageStyle: function () {
      return {
        border: this.canBuy ? '' : '1px solid red',
        color: this.canBuy ? '' : 'red'
      }
    }
  },
  methods: {
    doBuy: function () {
      alert(this.totalPriceWithTax + '円のお買い上げ！')
      this.items.forEach(function (item) {
        item.quantity = 0
      })
    }
  }
})
window.vm = vm
    </script>
  </body>
</html>>